# LAB 4 : Write a python program to create and work with dataframe using Pandas

## Import Libraries

In [1]:
import numpy as np
import pandas as pd
# version installed 
print(np.__version__)
print(pd.__version__)

1.26.4
2.1.4

## Creation of Dataframe using Pandas
### 1. Using Dictionary

In [2]:
dict = { 'apple' : [0,3,5,2],
        'orange' : [5,1,2,0]
    }

df = pd.DataFrame(dict)

print(df)

   apple  orange
0      0       5
1      3       1
2      5       2
3      2       0

### Adding Index to rows

In [5]:
df = pd.DataFrame(dict, index = ['Jaykishan','Pavan',
                                'Nishant','Kalpesh'])
print(df)

           apple  orange
Jaykishan      0       5
Pavan          3       1
Nishant        5       2
Kalpesh        2       0

In [6]:
df.loc['Pavan','orange']

1

## 2. By reading External files

### A. How to read .csv file

In [7]:
data = pd.read_csv('purchases.csv',sep = ",")
print(data)

    index  apples  oranges
0    June       3        0
1  Robert       2        3
2    Lily       0        7
3   David       1        2

In [8]:
# Adding indexes to rows 
# you want to make first col as index for rows
data = pd.read_csv('purchases.csv',index_col = 0)
print(data)

        apples  oranges
index
June         3        0
Robert       2        3
Lily         0        7
David        1        2

### B. Reading data from JSON

In [9]:
df = pd.read_json('purchases.json')

df

        apples  oranges
David        1        2
June         3        0
Lily         0        7
Robert       2        3

### C. Reading data from Excel

In [10]:
df = pd.read_excel('sample.xlsx',dtype = {"Products": str, 
                            "Price":float}) 
print(df)

  Product     Prize
0   Shirt     500.5
1   Mobile  16000.0
2   Laptop  70000.0
3     Brus     30.0

### D. Reading data from a SQL database

In [ ]:
# !pip install pysqlite3

In [14]:
# connection to a SQLite database file
import sqlite3

con = sqlite3.connect("database.db")

**In this SQLite database we have a table called purchases,  and our index is in a column called "index".**

In [17]:
df = pd.read_sql_query("SELECT * FROM purchases", con)

df

    index  apples  oranges
0    June       3        0
1  Robert       2        3
2    Lily       0        7
3   David       1        2

In [18]:
df = df.set_index('index')

df

        apples  oranges
index
June         3        0
Robert       2        3
Lily         0        7
David        1        2

### 4. Reading Text file

**Read Text Files with Pandas**<br>
Below are the methods by which we can read text files with Pandas:

- Using read_csv()
- Using read_table()
- Using read_fwf()

#### Read Text Files with Pandas Using read_csv()
**Syntax:** 

`data=pandas.read_csv(‘filename.txt’, sep=’ ‘, header=None, names=[“Column1”, “Column2”])`

In [21]:
# read text file into pandas DataFrame
df = pd.read_csv("sample.txt", sep=" ",header = None,
                 names = ["Team1","Team2"])

# display DataFrame
print(df)

     Team1   Team2
0  Batsmen  Bowler
1    Rohit  Bumrah
2    Viraj   Siraj
3    Rahul   Shami
4    Dhoni  ashwin
5    Raina  Jadeja

#### Read Text Files with Pandas Using read_table()

**Syntax:** `data=pandas.read_table(‘filename.txt’, delimiter = ‘ ‘)`

In [22]:
# read text file into pandas DataFrame
df = pd.read_table("sample.txt", delimiter=" ")

# display DataFrame
print(df)

  Batsmen  Bowler
0   Rohit  Bumrah
1   Viraj   Siraj
2   Rahul   Shami
3   Dhoni  ashwin
4   Raina  Jadeja

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: read_table is deprecated, use read_csv instead.

#### Read Text Files with Pandas Using read_fwf()
**Syntax:** `data=pandas.read_fwf(‘filename.txt’)`

In [23]:
# read text file into pandas DataFrame
df = pd.read_fwf("sample.txt")

# display DataFrame
print(df)

  Batsmen Bowler
0   Rohit Bumrah
1    Viraj Siraj
2    Rahul Shami
3   Dhoni ashwin
4   Raina Jadeja

### Converting back to a CSV, JSON, or SQL

In [24]:
df.to_csv('new_purchases11.csv')

In [25]:
df.to_json('new_purchases.json')

In [28]:
df.to_sql('new_purchases102', con)

### Test your Knowledge

**Q1** :